<div class="row text-center">
    <h1 class="text-info">You've reached the end of the internet</h1>
    <hr />
    <a class="btn btn-outline-success btn-sm" asp-controller="Movies" asp-action="Index"><i class="bi bi-house"></i> Home Page</a>
</div>
